body {
    margin: 0;
    font-size: 1.1em;
    background-image:url("../../doc/Images/wish-list.jpg");
    font-family: Comic Sans MS;
    color:darkblue;
}
header {
	text-align: center;
	background: rgb(132, 137, 142);
	vertical-align: middle;
	font-size: 1.8em;
  width: 100%
}
header a {
	margin-left: 1em;
}
header a:hover {
	background: #19c589;
}
main {
	margin-left: 3em;
	text-align: center;
}

a {
	text-decoration: none;
	color:darkblue;
}

main a {
  color: rgb(221, 165, 61);
}

a:hover{
	color: rgb(233, 77, 112);
}

#imglogo {
	height: 40px;
}

#idImageItem{
	width: 20em;
}

footer ul{
  padding-top: 2em;
  text-align: center;
  padding-left: 0;
  vertical-align:bottom; 
}

footer ul li:hover{
    background: #19c589;
}

footer ul li{
  margin: 0;
  display: inline-block;
  margin-left: 2em;
}

@media screen and (max-width : 600px) {
	body{
		font-size: 1em;
	}
	header a {
		display: block;
		position: static;
		width: 100%;
	}
	#idImageItem{
		width: 80%;
	}
	header a {
		margin-left: 0px;
	}
	main {
		margin-left: 0px;
	}

  footer ul li{
    margin: 0;
    display: block;
  }
}

table, th, td {
    border: 1px solid black;
}
